@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.login-page-wrapper {
  justify-content: center;
  align-content: center;
  margin-left: 33%;
  margin-top: 6%;
}
.create-accountpage-wrapper{
  justify-content: center;
  align-content: center;
  margin-left: 33%;
  margin-top: 6%;
}
fieldset {
  margin: 2em 0;
  padding: 1em 2em;
  border: none;
  border-radius: 6px;
  background-color: #63b139;
  margin-right: 15%;
  margin-bottom: 2em;
  margin: 1em 2em;
}

legend {
  font-size: 3em;
  font-weight: 600;
  padding: 0;
  color: rgb(236, 136, 6);
  text-shadow: 1px 1px 3px #333;
  position: relative;
  text-align: center;
  margin-right: 53%;
  padding: 5px;
  /* top: 1em; */
}

label {
  display: block;
  margin-top: 1em;
  padding: 2px;
}

.checks label {
  margin-top: 0;
}

label:first-of-type {
  margin-top: 2em;
}
input {
  padding: 1.3em;
  border: solid 1px #999;
  border-radius: 4px;
}
input[type="email"],
input[type="url"],
input[type="password"] {
  width: 35em;
}

.check {
  margin-top: 0.5em;
  font-size: 0.9em;
}

#chkLabel {
  display: inline-block;
  margin-top: 0;
  align-items: center;
}

/* //submit btn  */
.btn-hover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin-left: 20%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  height: 45px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}
.btn-hover.color {
  background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #dda54e);
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}
 a{
  color: #e43603;
 }
/* help-tip */
.questWrap {
  position: relative;
}


.helper {
  display: none;
}

.helperText {
  position: absolute;
  background-color: #0e506f;
  border-radius: 4px;
  color: #fff;
  padding: 0.5em 1.5em 0.5em 0.5em;
  bottom: 30px;
  left: 111px;
  font-size: 0.9em;
  display: none;
}
/* to style triangle */
.helperText:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 36%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(13, 80, 110) transparent transparent transparent;
}

.helperText a {
  color: #fff;
}

/* close button */
i.fas.fa-times-circle {
  color: #fff;
  position: absolute;
  bottom: 5px;
  right: 6px;
}

/* span tag slider */
input[type="checkbox"] {
  /* hide original */
  visibility: hidden;
  position: absolute;
}

label {
  cursor: pointer;
}

/* hide the "real" checkbox visually */
.checkbox input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* style the "fake" checkbox */
.checkbox-value {
  background-color: rgb(255, 255, 255);
  border: 0.0625em solid #39a5b5;
  border-radius: 0.75em;
  box-shadow: inset 0 0.0625em 0 0.0625em rgba(0, 0, 0, 0.075);
  display: inline-block;
  height: 1.5em;
  position: relative;
  transition: all 120ms;
  vertical-align: -0.5em;
  width: 2.5em;
}

.checkbox-value::before {
  background-color: #fff;
  border: 0.0625em solid;
  border-color: inherit;
  border-radius: 50%;
  box-shadow: 0 0.0625em 0 0.0625em rgba(0, 0, 0, 0.075);
  content: "";
  display: block;
  height: 1.625em;
  left: 25%;
  margin-left: -0.9375em;
  margin-top: -0.125em;
  position: absolute;
  top: 0;
  transition: all 120ms ease-in;
  width: 1.625em;
}

input:checked + .checkbox-value {
  background-color: rgb(202, 238, 236);
  border-color: #169a9a;
}

input:checked + .checkbox-value::before {
  left: 75%;
}

/* ARIA Custom checkbox */
[role="checkbox"] {
  font-family: "Font Awesome 5 Free";
  font-size: 1.3em;
  font-style: normal;
  color: #ecbb07;
  padding-right: 0.25em;
}

[aria-checked="true"]::before {
  content: "\f0c8";
}

[aria-checked="false"]::before {
  content: "\f14a";
}

#signIn {
  cursor: pointer;
  width: 25%;
  padding: 10px;
  font-size: 1.2em;
}

hr {
  margin: 8px;
}

.social-continue{
  padding: 5px;
  font-size: 1.1em;
}
.auth-btns button {
  height: 45px !important;
}
.phoneBtn {
  display: block;
  border: 0px;
  border-radius: 3px;
  box-shadow: rgb(0 0 0 / 50%) 0px 1px 2px;
  color: black;
  cursor: pointer;
  font-size: 19px;
  text-align: left;
  margin: 5px;
  width: calc(100% - 10px);
  overflow: hidden;
  padding: 10px;
  user-select: none;
  height: 50px;
  background: white;
}
.phoneBtn svg {
  font-size: 19px;
  float: left;
  height: 26px;
  width: 26px;
  padding-right: 5px;
}

.login-page-wrapper p:nth-of-type(2){
   font-size: 1.1em;
   padding: 5px;
}
.login-page-wrapper a{
  color: red;
}
/* small screens */
@media (max-width: 740px) {
  body {
    background-color:red  !important
  }
  .login-page-wrapper{
    width: 430px;
    height: auto;
    margin: 5% auto;
    padding: 8px;
    border-radius: 1.5em;
  }
  input[type="email"],input[type="password"]{
      margin-right: 10%;
      width: 80%;
  }
  legend {
    font-size: 2em;
    font-weight: 600;
    width: 100%;
  }
}


@media screen and (min-width: 430px) {
  body {
    background-color: #ecf2f5;
  }
  legend {
    font-size: 2.1em;
    text-align: center;
  }
  fieldset {
    width: 40%;
    min-width: 320px;
  }
}
